<html>
<head>  
    <meta charset="UTF-8">  
    <title>Search Result</title>  
     {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'style.css' %}"/>  
</head>  
<body>  
<h2><center> Search Result </center></h2> </br>
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in q %}  
    <tr>  
        <td>{{ employee.username }}</td>  
        <td>{{ employee.first_name }}</td>  
        <td>{{ employee.last_name }}</td>  
        <td>{{ employee.email }}</td>  
    </tr> 
{% endfor %} 
    </tbody>  
</table>  
</body>  
</html>